<div class="container-fuid" id = "restaurants_index">
  <div class="container">
    <% @restaurants.each do |restaurant| %>
      <div class="card" id = "cards_restaurants" style="width: 18rem;">
        <div class="card-body" id = "solo_card"> 
          <h5 class="card-title"><%= restaurant.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Phone : <%= restaurant.phone_number %></h6>
          <p class="card-text">El mejor restaurant en la categoría <%= restaurant.category.capitalize %> food.</p>
          <a class="card-link"><%= link_to  "Más información", restaurant_path(restaurant) %></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
